*{
    box-sizing:border-box;
    margin:0;
}
body{
    background:#888;
}
.header{
    background:maroon;
    color:white;
    text-align:center;
    padding:20px;
    text-shadow:2px 2px blue;
    text-transform:uppercase;
}
@media screen and (max-width:768px){
    .header{
        background:#333;
        color:white;
        text-align:center;
        padding:20px;
        text-shadow:2px 2px red;
        font-size:7px
    }
}

.nav ul{
    list-style-type:none;
    background:#666;
    overflow:hidden;
    padding:0;
}
.nav ul li{
    float:left;
}
.nav ul li a{
    text-decoration:none;
    text-align:center;
    padding:15px;
    display:block;
    color:white;
    border-radius:20px;
}
.nav ul li a:hover{
    background:lightgreen;
    color:green;
}
@media screen and (max-width:768px){
    .nav ul{
        list-style-type:none;
        background:#222;
        overflow:hidden;
        padding:0;
    }
    .nav ul li{
        float:left;
    }
    .nav ul li a{
        text-decoration:none;
        text-align:center;
        padding:10px;
        display:block;
        color:white;
        border-radius:15px;
        font-size:12px;
    }
    .nav ul li a:hover{
        background:lightgreen;
        color:green;
    }
}
.content{
    height:650px;
    width:100%;
    background:#999;
}

.content1{
    width:60%;
    height:650px;
    float:left;
    background:#444;
    clear:left;
}
.content2{
    width:40%;
    height:650px;
    float:left;
    background:#555;
    clear:right;
}

.content2 h1{
    background:red;
    color:white;
    margin-bottom:20px;
    text-align:center;
    font-family:cursive;
    font-size:25px;
}
label{
    margin-left:80px;
    color:white;
    font-size:15px
}

input[type=text]{
    display:block;
    padding:10px;
    width:70%;
    margin:5px;
    margin-left:80px;
}
input[type=password]{
    display:block;
    padding:10px;
    width:70%;
    margin:5px;
    margin-left:80px;
}
input[type=submit]{
    display:block;
    padding:8px;
    width:70%;
    background:red;
    color:white;
    margin-left:80px;
    font-size:15px;
    text-transform:uppercase;
    margin-top:15px;
}

@media screen and (max-width:768px){
    .content{
        height:500px;
        width:100%;
        position:absolute;
        background:#999;
    }
    .content1{
        float:left;
        width:60%;
        height:550px;
        display:none;
    }
    .content2{
        width:100%;
        float:left;
        height:550px;
    }
    .content2 h1{
        background:red;
        color:white;
        margin-bottom:20px;
        text-align:center;
        font-family:cursive;
        font-size:15px;
    }
    label{
        margin-left:200px;
        color:white;
    }
    
    input[type=text]{
        display:block;
        padding:5px;
        width:50%;
        margin-left:200px;
        margin-top:0;
    }
    input[type=password]{
        display:block;
        padding:5px;
        width:50%;
        margin-left:200px;
        margin-top:0;
    }
    input[type=submit]{
        display:block;
        padding:10px;
        width:50%;
        background:red;
        color:white;
        margin-left:200px;
        font-size:15px;
        text-transform:uppercase;
        margin-top:15px;
    }
    
}

.content2 p{
    text-align:center;
    color:white;
}
.content2 a{
    color:yellow;
    cursor:pointer;
}

@media screen and (max-width:425px){
    .content{
        height:550px;
        width:100%;
        /* position:absolute; */
        background:#999;
    }
    .content1{
        float:left;
        width:60%;
        height:550px;
        display:none;
    }
    .content2{
        width:100%;
        /* float:left; */
        height:550px;
    }
    .content2 h1{
        background:red;
        color:white;
        margin-bottom:20px;
        text-align:center;
        font-family:cursive;
        font-size:15px;
    }
    label{
        margin-left:90px;
        color:white;
        font-size:15px;
    }
    
    input[type=text]{
        display:block;
        padding:5px;
        width:60%;
        margin-left:80px;
        margin-top:0;
    }
    input[type=password]{
        display:block;
        padding:5px;
        width:60%;
        margin-left:80px;
        margin-top:0;
    }
    input[type=submit]{
        display:block;
        padding:10px;
        width:60%;
        background:red;
        color:white;
        margin-left:80px;
        font-size:15px;
        text-transform:uppercase;
        margin-top:15px;
    }
    
}

@media screen and (max-width:375px){
    .content{
        height:500px;
        width:100%;
        /* position:absolute; */
        background:#999;
    }
    .content1{
        float:left;
        width:60%;
        height:550px;
        display:none;
    }
    .content2{
        width:100%;
        /* float:left; */
        height:550px;
    }
    .content2 h1{
        background:red;
        color:white;
        margin-bottom:20px;
        text-align:center;
        font-family:cursive;
        font-size:15px;
    }
    label{
        margin-left:60px;
        color:white;
    }
    
    input[type=text]{
        display:block;
        padding:5px;
        width:70%;
        margin-left:60px;
        margin-top:0;
    }
    input[type=password]{
        display:block;
        padding:5px;
        width:70%;
        margin-left:60px;
        margin-top:0;
    }
    input[type=submit]{
        display:block;
        padding:10px;
        width:70%;
        background:red;
        color:white;
        margin-left:60px;
        font-size:15px;
        text-transform:uppercase;
        margin-top:15px;
    }
    
}

@media screen and (max-width:325px){
    .content{
        height:500px;
        width:100%;
        /* position:absolute; */
        background:#999;
    }
    .content1{
        float:left;
        width:60%;
        height:550px;
        display:none;
    }
    .content2{
        width:100%;
        /* float:left; */
        height:550px;
    }
    .content2 h1{
        background:red;
        color:white;
        margin-bottom:20px;
        text-align:center;
        font-family:cursive;
        font-size:15px;
    }
    label{
        margin-left:50px;
        color:white;
    }
    
    input[type=text]{
        display:block;
        padding:5px;
        width:70%;
        margin-left:50px;
        margin-top:0;
    }
    input[type=password]{
        display:block;
        padding:5px;
        width:70%;
        margin-left:50px;
        margin-top:0;
    }
    input[type=submit]{
        display:block;
        padding:13px;
        width:70%;
        background:red;
        color:white;
        margin-left:50px;
        font-size:15px;
        text-transform:uppercase;
        margin-top:15px;
    }
    
}
